html, body {
	font-family: 'Montserrat', monospace;
	background-color: #2196F3;
	color: #ffffff;
	background-size:100%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 50px
}

td {
	line-height: .8em;
	border: none;
}

form {
	margin-bottom: 20px;
}

input {
	font-family: inherit;
	-moz-box-sizing: content-box
}
a {
	color: #11c;
	text-decoration: none
}

a:hover, a:active {
	text-decoration: underline
}

a:visited {
	color: #551a8b
}
.lsb:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ddd))
}

.ds {
	display: -moz-inline-box
}

.ds {
	border-bottom: solid 1px #e7e7e7;
	border-right: solid 1px #e7e7e7;
	display: inline-block;
	margin: 3px 0 4px;
	margin-left: 4px;
	margin-right: 3px; height: 32px
}

.lsbb {
	background: #eee;
	border: solid 1px;
	border-color: #ccc #999 #999 #ccc;
	height: 30px;
	display: block
}

.lsb {
	background-color: #0275d8;
	color: #FFFFFF;
	font-size: 15px;
	border: none;
	padding: .5rem 1rem;
	cursor: pointer;
	height: 30px;
	margin: 0;
	outline: 0;
	vertical-align: top
}

.lsb:hover, .lsb:active {
	background-color: #025aa5;
	color: #FFFFFF;
	padding: .5rem 1rem;
}

#logo {
	width: 544px;
	height: 176px;
	top: -5px;
	left: -10px;
	background: black url(../resources/pacman10-hp.gif) 0 0 no-repeat;
	position: relative;
	margin-bottom: 9px
}

#logo-l {
	width: 200px;
	height: 2px;
	left: 177px;
	top: 157px;
	background: #990;
	position: absolute;
	display: none;
	overflow: hidden
}

#logo-b {
	position: absolute;
	left: 0;
	background: #ff0;
	height: 8px;
	width: 0
}

#wrapper {
	width: 554px;
	height: 186px;
	padding: 10px;
	background: #000;
	-webkit-border-radius: 8px;
}

#footer ul {
	list-style-type: none;
	padding: 0
}

#footer a {
	display: inline-block;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: monospace;
	padding: 5px
}

#footer a:hover {
	color: #F57C00;
	text-decoration: none
}
