html, body {
	font-family: 'Montserrat', sans-serif;
	background-color: #2196F3;
	color:white;
}
table {
    border-collapse: collapse;
    width: 50%;
}
h1 {
	text-align: center;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
	vertical-align: center;
    padding: 8px;
}
tr:hover {
	background-color: #1976D2
}
